@import "../../Stylesheets/SCSS/Partials/colors";
@import "../../Stylesheets/SCSS/Partials/fonts";

#Footer{
    width: 100%;
    height: 93px;
    background-color: $tertiary-color;
    color: $fifth-color;
    font-size: 16px;
    font-family: $font-parrafo;
    letter-spacing: 0.22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerLeft{
    display: flex;
    flex: 1;
}

.footerRight{
    display: flex;
    flex: 1;
}

.footerImage{
    width: 85px;
    height: 20px;
    // left: -26vh;
    left: 83%;
    position: absolute;
    // position: relative;
    // margin-left: 80vh;
    // left: -10vh;
}

.parraFooter{
    margin-top: 2vh;
    // margin-right: 70%;
    left: 10vh;
    position: absolute;
    // display: inline-block;
    color: $fifth-color;
    font-family: $font-nav;
    font-size: 16px;
    letter-spacing: 0.22px;
}


//Media

@media only screen and (max-width : 1300px) {
    .footerImage{
        left: 88%;
    }
}

@media only screen and (max-width : 1020px) {
    .footerImage{
        left: 82%;
    }
}

@media only screen and (max-width : 900px) {
    .parraFooter{
        left: 7vh;
    }
}

@media only screen and (max-width : 720px) {
    .footerImage{
        left: 75%;
    }
}

@media only screen and (max-width : 580px) {
    #Footer{
        display: flex;
        flex-direction: column;
        height: 60px;
        justify-content: center;
        align-items: center;
    }
    .parraFooter{
        display: none;
    }
    .footerImage{
        left: 40%;
    }
}

@media only screen and (max-width : 460px) {
    .footerImage{
        left: 40%;
    }
}

@media only screen and (max-width : 365px) {
    .footerImage{
        left: 40%;
    }
}

@media only screen and (max-width : 300px) {
    .footerImage{
        left: 35%;
    }
}