@import "../../Stylesheets/SCSS/Partials/colors";
@import "../../Stylesheets/SCSS/Partials/fonts";

#Services{
    height: 100vh;
    width: 100%;
    display: flex;

}

.serviceImage{
    height: 100vh; 
    position: relative;
    z-index: -1;
    width: 55%;
    left: 45%;
}



//Media

@media only screen and (max-width : 1020px) {
    .serviceImage{
        display: none;
    }
    }


